<div class="login-container">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()" ngNativeValidate >
    <h1 class="h3 mb-3 font-weight-normal">Будь ласка, увійдіть</h1>
    <label for="inputUsername" class="sr-only">Логін</label>
    <input formControlName="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <div *ngIf="loginSuccess === false" class="alert alert-danger" role="alert">
      <strong>Помилка:</strong> Невірний логін або пароль
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
    <strong *ngIf="loginInProgress === true">Вхід...</strong>
  </form>
</div>