<div class="container">
  <div class="row">
    <div class="col-2">
      <h5>Статус:</h5>
    </div>
    <div class="col">
      <input name="status">
    </div>

  </div>
  <form (ngSubmit)="onSubmit()">
    <label><b>Персональні дані:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="firstname">Прізвище:</label>
            <input class="form-control" type="text" name="firstname" value="{{student.student.surname}}"/>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="name">Ім'я:</label>
            <input class="form-control" id="name" type="text" name="name" value="{{student.student.name}}"/>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="patronymic">По батькові:</label>
            <input class="form-control" id="patronymic" type="text" name="patronymic" value="{{student.student.middleName}}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="country">Країна:</label>
            <select class="form-control" name="country">
              <option>{{student.country.countryNameUa}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfBirth">Дата народження:</label>
            <input class="form-control" id="dateOfBirth" type="date" name="dateOfBirth" value="{{student.student.dateOfBirth}}">
          </div>

        </div>
      </div>
    </div>

    <label><b>Навчання:</b></label>
    <div class="block">
      
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="department">Факультет: </label>
            <select class="form-control" name="department">
              <option>{{student.faculty.facultyName}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="educform">Освітня програма:</label>
            <select class="form-control" name="educprogram">
              <option>{{student.direction.directionName}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="language">Мова: </label>
            <select class="form-control" name="language">
              <option>{{student.contract.educationLanguage.educLanguageName}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="course">Курс:</label>
            <input class="form-control" type="number" min="1" name="course" value="{{student.course}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="educform">Форма навчання:</label>
            <select class="form-control" name="educform">
              <option>{{student.educationForm.educFormName}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="level">Рівень:</label>
            <select class="form-control" name="level">
              <option>{{student.educationLevel.educLevelName}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="higheduc">Вища освіта:</label>
            <select class="form-control" name="higheduc">
              <option>1 высшее</option>
              <option>2 высших</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="countOfYears">Кількість років навчання:</label>
            <input class="form-control" type="number" min="1" name="countOfYears" value="{{student.contract.yearsOfEduc}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="dataEnter">Дата зачислення:</label>
            <input class="form-control" type="text" name="dataEnter" value="{{student.contract.dateIn}}">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="dataEnd">Планована дата закінчення:</label>
            <input class="form-control" type="date" name="dataEnd">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="numberOfOrder">Наказ №:</label>
            <input class="form-control" type="tel" name="numberOfOrder">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="dateOrder">Дата наказу:</label>
            <input class="form-control" type="date" name="dateOrder">
          </div>
        </div>

      </div>
    </div>

    <label><b>Контракт:</b></label>
    <div class="block">
     
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="number">Контракт №:</label>
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfContract">Дата контракта:</label>
            <input type="date" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="lineArrive">Лінія прибуття:</label>
            <select class="form-control" name="lineArrive">
              <option></option>
              <option></option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="note">Примітка:</label>
            <input class="form-control" type="text" name="note">
          </div>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <button class="btn btn-link" (click)="toggleOrders()" id="btn"><b>Накази:</b></button>
    </div>
    <div class="row">
      <table class="table table-bordered" *ngIf="showOrders">
        <thead>
          <tr>
            <th scope="col">Тип наказу</th>
            <th scope="col">№ наказу</th>
            <th scope="col">Дата наказу</th>
            <th scope="col">Дата в наказі</th>
            <th scope="col">Коментар</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-link" (click)="toggleContracts()" id="btn"><b>Контракти:</b></button>
      <table class="table table-bordered" *ngIf="showContracts">
        <thead>
          <tr>
            <th scope="col">№ контракта</th>
            <th scope="col">Дата контракта</th>
            <th scope="col">Дата закінчення</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
      </table>
    </div>



    <div class="row">
      <div class="col-sm">
        <button class="btn btn-danger" (click)="close()">Закрити</button>
        <button class="btn btn-success" type="submit">Зберегти</button>
      </div>
    </div>

  </form>
</div>