<div class="container-fluid">
  <div class="row justify-content-start">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/registration" routerLinkActive = "active">Реєстрація абітурієнтів</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive = "active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Робота с картками</a>
        <div class="dropdown-menu">
          <a class="nav-link dropdown-item" routerLink = "/search" routerLinkActive = "active">Абітурієнт</a>
          <a class="nav-link dropdown-item" routerLink = "/studentInfo" routerLinkActive = "active">Студент</a>
          <a class="nav-link dropdown-item" routerLink = "/search" routerLinkActive = "active">Переведення</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link dropdown-item" routerLink="#" routerLinkActive = "active">Архів</a>
        </div>
      </li>

    </ul>
  </div>
      <router-outlet></router-outlet>
</div>
 