<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Вид</th>
          <th scope="col">№ документа</th>
          <th scope="col">№ свідоцтва</th>
          <th scope="col">Дата видачі</th>
          <th scope="col">Дата здачі</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <a class="nav-link" routerLink="add" routerLinkActive = "active">Додати документ</a>
  </div>
</div>