<div class="container">
  <div class="row">
    <div class="col">
      <h5>Додаткова інформація до контракту</h5>

    </div>
    <div class="col">
      <label for="numberOfContract">№:</label>
      <input id="numberOfContract">
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #passportForm="ngForm">
    <label><b>Додаткові дані:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="nameOnEnglish">Ім'я англійською мовою:</label>
            <input class="form-control" type="text" name="nameOnEnglish" #nameOnEnglish="ngModel" ngModel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfBirth">Дата народження:</label>
            <input class="form-control" type="date" name="dateOfBirth" #dateOfBirth="ngModel" ngModel>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="gender">Стать:</label>
            <input class="form-control" type="text" name="gender" #gender="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <label><b>Паспорт:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="numberOfPassport">Паспорт №:</label>
            <input class="form-control" type="text" name="numberOfPassport" #numberOfPassport="ngModel" ngModel>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="adress">Адреса:</label>
            <input class="form-control" type="text" name="adress" #adress="ngModel" ngModel>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfIssue">Дата видачі:</label>
            <input class="form-control" type="date" name="dateOfIssue" #dateOfIssue="ngModel" ngModel>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="validity">Термін дії:</label>
            <input class="form-control" type="date" name="validity" #validity="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <label><b>Реєстрація:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="numberOfReg">Реєстрація №:</label>
            <input class="form-control" type="text" name="numberOfReg" #numberOfReg="ngModel" ngModel>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="validityOfReg">Термін дії реєстрації:</label>
            <input class="form-control" type="date" name="validityOfReg" #validityOfReg="ngModel" ngModel>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="placeOfReg">Місце колишньої реєстрації:</label>
            <input class="form-control" type="text" name="placeOfReg" #placeOfReg="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <label><b>Віза:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="numberOfVisa">Віза №:</label>
            <input class="form-control" type="text" name="numberOfVisa" #numberOfVisa="ngModel" ngModel>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfVisaIssue">Дата видачі візи:</label>
            <input class="form-control" type="date" name="dateOfVisaIssue" #dateOfVisaIssue="ngModel" ngModel>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="validityOfVisa">Термін дії візи:</label>
            <input class="form-control" type="date" name="validityOfVisa" #validityOfVisa="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <label><b>Прибуття:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="frontier">Межа:</label>
            <input class="form-control" type="text" name="frontier" #frontier="ngModel" ngModel>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfArrive">Дата прибуття:</label>
            <input class="form-control" type="date" name="dateOfArrive" #dateOfArrive="ngModel" ngModel>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="adressOfResidence">Адреса проживання:</label>
            <input class="form-control" type="text" name="adressOfResidence" #adressOfResidence="ngModel" ngModel>
          </div>
        </div>

        <div class="col-2">
          <div class="form-group">
            <label for="numberOfRoom">Кімната:</label>
            <input class="form-control" type="number" name="numberOfRoom" #numberOfRoom="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <label><b>Страхування:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="numberOfInsurance">Медичне страхування №:</label>
            <input class="form-control" type="text" name="numberOfInsurance" #numberOfInsurance="ngModel" ngModel>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="validityOfInsurance">Термін дії медичного страхування:</label>
            <input class="form-control" type="date" name="validityOfInsurance" #validityOfInsurance="ngModel" ngModel>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="licenseCode">Код за ліцензією:</label>
            <input class="form-control" type="text" name="icenseCode" #icenseCode="ngModel" ngModel>
          </div>
        </div>

        <div class="col-7">
          <div class="form-group">
            <label for="addInfo">Додаткова інформація:</label>
            <input class="form-control" type="text" name="addInfo" #addInfo="ngModel" ngModel>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-link" (click)="toggleNotes()" id="btn"><b>Посвідки:</b></button>
      <table class="table table-bordered" *ngIf="showNotes">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Здав</th>
            <th scope="col">Оформив</th>
            <th scope="col">№ посвідчення</th>
            <th scope="col">Термін дії</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="row justify-content-end">
      <button class="btn btn-success" type="submit">Зберегти</button>
    </div>
  </form>

</div>