<div class="container-fluid">
  <div class="row justify-content-start">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/registration" routerLinkActive = "active">Реєстрація абітурієнтів</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink = "/studentInfo" routerLinkActive = "active">Робота з картками(абітурієнт)</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink = "/search" routerLinkActive = "active">Робота з картками(студент)</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive = "active">Робота з архівом</a>
      </li>

    </ul>
  </div>
      <router-outlet></router-outlet>
</div>
 