<div class="container">
  <div class="row">
    <div class="col-1">
      <h5>Статус:</h5>
    </div>
    <div class="col-2">
      <h5>Абітурієнт</h5>
    </div>

  </div>

  <form (ngSubmit)="onSubmit()" #DataForm="ngForm">
    <label><b>Персональні дані:</b></label>
    <div class="block">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="firstname">Прізвище:</label>
            <input class="form-control" type="text" name="firstname" #firstname="ngModel" ngModel required />
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="name">Ім'я:</label>
            <input class="form-control" id="name" type="text" name="name" ngModel />
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="patronymic">По батькові:</label>
            <input class="form-control" id="patronymic" type="text" name="patronymic" ngModel />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="country">Країна:</label>
            <select class="form-control" name="country" #country="ngModel" ngModel required>
              <option>Украина</option>
              <option>Россия</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="dateOfBirth">Дата народження:</label>
            <input class="form-control" id="dateOfBirth" type="date" name="dateOfBirth" #dateOfBirth="ngModel" ngModel
              required>
          </div>

        </div>
      </div>
    </div>

    <label><b>Навчання:</b></label>
    <div class="block">
      
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="department">Факультет: </label>
            <select class="form-control" name="department" #department="ngModel" ngModel required>
              <option>Іноземних мов</option>
              <option>Математики та інформатики</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="educform">Освітня програма:</label>
            <select class="form-control" name="educprogram" #educprogram="ngModel" ngModel required>
              <option>Іноземних мов</option>
              <option>Математики та інформатики</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="language">Мова: </label>
            <select class="form-control" name="language" #language="ngModel" ngModel required>
              <option>Украинский</option>
              <option>Русский</option>
              <option>English</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="course">Курс:</label>
            <input class="form-control" type="number" min="1" name="course" #course="ngModel" ngModel required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="educform">Форма навчання:</label>
            <select class="form-control" name="educform" #educform="ngModel" ngModel required>
              <option>Заочна</option>
              <option>Бюджетна</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="level">Рівень:</label>
            <select class="form-control" name="level" #level="ngModel" ngModel required>
              <option>Бакалар</option>
              <option>Магистр</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="higheduc">Вища освіта:</label>
            <select class="form-control" name="higheduc" #higheduc="ngModel" ngModel required>
              <option>1 высшее</option>
              <option>2 высших</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="countOfYears">Кількість років навчання:</label>
            <input class="form-control" type="number" min="1" name="countOfYears" #countOfYears="ngModel" ngModel
              required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="dataEnter">Дата зачислення:</label>
            <input class="form-control" type="date" name="dataEnter">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="dataEnd">Планована дата закінчення:</label>
            <input class="form-control" type="date" name="dataEnd">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
          <button class="btn btn-danger" (click)="close()">Закрити</button>
          <button class="btn btn-success" type="submit" [disabled]="!DataForm.valid">Зберегти</button>
        </div>
      </div>
  </form>
</div>
